doctype html
html
    head
        meta(charset="UTF-8")
        title= title
        link(rel='stylesheet',type="text/css", href='/layouts/randomiusMemius.css')
    body
    block nav
        body
            nav(id="mainNav", class="mainNav")
                a(href="/") 
                    h1 Randomius Memius
                div(id="userHandling", class="userHandling")
                    if user
                        a(href="/profile") #{user.username}
                        br
                        a(href="/createMeme") Upload new Meme!
                    else 
                        || #[a(href="/login") Register Now!] | #[a(href="/login") Sign in]
                        
    block content

    block footer
        footer   
            p Posted by: Vasily Zaytsev
            p Contact information: #[a(href="mailto:maildoesnt@exist.njet") maildoesnt@exist.njet]