doctype html
html
    head
        meta(charset="UTF-8")
        title= "Randomius Memius"
        block scripts
        script(src='/javascripts/jquery-3.3.1.min.js')
        script(src='/javascripts/rmFunctions.js')
        link(rel='stylesheet',type="text/css", href='/stylesheets/randomiusMemius.css')
    body
    block nav
        body
            nav(id="mainNav", class="mainNav")
                a(href="/", class="navLeft") 
                    h1 Randomius Memius
                div(id="userHandling", class="userHandling")
                    if user
                        ul
                            li #[a(href="/profile") #{user.username}]
                            li #[a(href="/createMeme") Upload new Meme!]
                    else 
                        || #[a(href="/login") Register Now!] | #[a(href="/login") Sign in]
                        
    block content

    block footer
        footer   
            p Posted by: Vasily Zaytsev
            p Contact information: #[a(href="mailto:maildoesnt@exist.njet") maildoesnt@exist.njet]