article(id="meme1234" class="memes")
	h1 #[a(href="/meme1234") Meme Titel]
	a(href="/meme1234") #[img(src="/photos/meme1234.jpg")]
	section(class="commentsUnloaded")
		a(href="/meme1234") 20 Comments

