article(id=meme.Id class="memes")
	h2 #[a(href="/meme1234") #{meme.MemeTitle}]
	a(href="/meme1234") #[img(src="/images/" + meme.MemeFileName)]
	section(class="commentsUnloaded")
		a(href="/meme/" + meme.Id) 20 Comments

