extends layout

block content
    h2 Register
    form(action="/register" method="post" class="register")
        | User Login: 
        input(type="text" name="id")
        | User name: 
        input(type="text" name="displayName")
        | Email address:
        input(type="text" name="mail" )        
        | Password:
        input( type="password" name="Password")
        | Re-enter Password:
        input( type="password" name="confirmedPassword")
        input( type="submit" value="Register"  )
    p Already have an account? #[a(href="/login" class="alreadyAccount") Sign in here!]