extends layout

block content
    h2 All users
    table
        each userItem in users
            tr
                td #{userItem.LoginName}
                if userItem.Banned
                    td 
                        button(class="banned") De-Ban
                else
                    td 
                        button(class="notBanned") Ban
                
