extends layout

block content
    h2 All users
    table
        each user in #{userList}
            tr
                td user.displayName
                if user.banned
                    td 
                    button(class="banned") De-Ban
                else
                    td 
                    button(class="notBanned") Ban
                
