extends layout

block content
    h2 All users
    table
        each userItem in users
            tr
                td #{userItem.LoginName}
                if userItem.Banned
                    td 
                        form(action="/users" method="POST" class="users")                            
                            input(type="hidden" id="userId" name="userId" value=userItem.UserID)
                            input( type="submit" value="De-Ban"  )
                else
                    td 
                        form(action="/users" method="POST" class="users")                            
                            input(type="hidden" id="userId" name="userId" value=userItem.UserID)
                            input( type="submit" value="Ban"  )
                
